:root {
    --background: hsl(0, 0%, 15%);
    --background-table: hsl(0, 0%, 17%);
}

#app {
    min-height: 100vh; /* ensures full viewport height */
  /* or use height: 100%; if you prefer relying on html/body height */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  background-color: var(--background);
}

.table-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  background-color: var(--background-table);
  padding: 20px;
  border-radius: 8px;
  color: white;
  border-radius: 20px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #474747;
  padding: 8px;
}

.status-online { color: #59ff87; font-weight: 600; }

tr:nth-child(even){background-color: #636363;}

tr:hover {background-color: #ddd; color: black;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #021568b9;
  color: white;
}